<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.3" targetFramework="net472" />
  <package id="Dapper" version="1.60.6" targetFramework="net472" />
  <package id="Dapper.Contrib" version="1.60.1" targetFramework="net472" />
  <package id="FluentMigrator" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Abstractions" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Extensions.Oracle" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Extensions.Postgres" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Extensions.SqlAnywhere" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Extensions.SqlServer" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Core" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Db2" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Firebird" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Hana" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Jet" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.MySql" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Oracle" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Postgres" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.Redshift" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.SqlAnywhere" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.SQLite" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.SqlServer" version="3.2.9" targetFramework="net472" />
  <package id="FluentMigrator.Runner.SqlServerCe" version="3.2.9" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NodaTime" version="2.4.6" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net472" />
  <package id="Stateless" version="4.2.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="Telegram.Bot" version="15.0.0" targetFramework="net472" />
  <package id="Topshelf" version="4.2.1" targetFramework="net472" />
  <package id="Topshelf.Log4Net" version="4.2.1" targetFramework="net472" />
</packages>